
 


  

  .side-content {
    display: flex;
    height: calc(100vh - 60px);
  }
  
 
  
  
  .sidebar {
    background-color: white;
    border-right: 1px solid black;
    overflow: hidden;
   
    width: 0;
    transition: all .3s ease-in;
  }
  
  .sidebar i.fa {
    margin-right: 5px;
  }
  
  .sidebar.open {
    width: 280px;
  }
  
  .sidebar ul {
    
    border-bottom: 1px solid black;
    list-style: none;
    
  }
 
  
  .sidebar ul li  {
    padding: 20px;
    border-bottom: none;
    cursor: pointer;

  }
  .sidebar ul li:hover {
    padding: 20px;
    border-bottom: none;
    cursor: pointer;
    background-color:burlywood;
    border-radius: 0px 20px 20px 0px;

  }
 .sidebar ul li:active {
    background-color:rgb(129, 78, 1);
 }
 //change this
  .sidebar .ArchiveTrash{
    border-bottom: none;
  }
