<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      UserName:
      <input type="text" formControlName="UserName" id="username"  required>
    </label>
    <div [hidden]="profileForm.value.UserName" class="error">error</div>
  
  
    <label>
      UserEmail:
      <input type="text" formControlName="UserEmail" required>
    </label>


    <label>
        Password:
        <input type="password" formControlName="Password" required>
      </label>

      <label>
        Confirm Password:
        <input type="password" formControlName="ConfirmPassword" required>
      </label>



  
    <div formGroupName="CardType">
      <h3>Select a card</h3>

      <select name="Service type" id="cardtype" formControlName="cardtype" required>
        <option value="Basic" >Basic</option>
        <option value="Advanced">Advanced</option>
        </select>
      
    </div>
  
    
  
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  
  <hr>
  
  
  <p>
    Form Value: {{ profileForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ profileForm.status }}
  </p>
  
  <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>
  
