<div class="header">
    <h2>FUNDOO LOGIN</h2>
</div>


<div class="input-group">
<label>E-MAIL</label>
<input type="text" name="cemail" id="useremail">
</div>

<div class="input-group">
<label>PASSWORD</label>
<input type="password" name="cpassword" id="password"/>
</div>

<div class="input-group">
<button type="submit" name="login" class="btn" (click)="LogIN()">LOGIN</button>
</div>

<div class="input-group">
<button type="submit" name="login" class="btn" (click)="SocialLogIN()" >LOGIN USING GOOGLE</button>
</div>

<div class="input-group">
<button type="submit" name="FORGOT" class="btn" (click)="FORGOT()">FORGOT E-MAIL?</button>
</div>
        
                                             
        
