<form [formGroup]="userNotesForm" (ngSubmit)="AddNotes()">
    <label>
      Title:
      <input type="text" formControlName="title" id="username"  required>
    </label>

  
  
    <label>
      Description:
      <input type="text" formControlName="description" required>
    </label>
    
    <button type="submit" [disabled]="!userNotesForm.valid">Ok</button>
  </form>
  
  <hr>
  
  <!--
    <p>
    Form Value: {{ userNotesForm.value | json }}
  </p>
  <p>
    CurrentActiveEmail: {{ currentActiveEmail }}
  </p>
  
  <p>
    Form Status: {{ userNotesForm.status }}
  </p>
  -->
  
  
 
  


