<div class="header">
        <h2>FUNDOO SIGNUP</h2>

</div> 
 

<form>
<div class="error">
<p>e-mail id empty</p>
<p>password empty</p>
<p>username empty</p>
<p>password do not match</p>
<p>cardtype required</p>
</div>
<div class="input-group">
<label>USER-NAME</label>
<input type="text" name="username" value="" id="username"  [(ngModel)] ='bindusername'/>
</div>

<div class="input-group">
<label>E-MAIL</label>
<input type="text" name="email" value="" id="useremail" [(ngModel)] ='binduseremail'/>
</div>

<div class="input-group">
<label>PASSWORD</label>
<input type="password" name="password_1" id="password"  [(ngModel)] ='binduserpassword'/>
</div>

<div class="input-group">
<label>CONFIRM PASSWORD</label>
<input type="password" name="password_2" [(ngModel)] ='binduserconfirmpassword'/>
</div>

<div class="input-group">
<label>ADDRESS</label>
<input type="text" name="address" value="" [(ngModel)] ='binduseraddress'/>
</div>

<div class="input-group">
<label>CardType:</label>
<select name="Service type" id="cardtype" [(ngModel)] ='bindusercardtype'>
<option value="Basic" >Basic</option>
<option value="Advanced">Advanced</option>

</select>
</div>
             
<div class="input-group">
<button type="submit" name="register" class="btn" (click)="Add()">SIGNUP</button>
</div>

<div class="input-group" >
<button type="submit" name="register" class="btn">SIGNUP WITH GOOGLE</button>
</div>
                       
</form>



Enter the value  : <input [(ngModel)] ='vals'> 
               <br> 
                Entered value is:  {{vals}} 