<div class='main'>


    <p>{{currentLoggedInUsers}}</p>
    <p>{{contentStatus}}</p>

    <app-fundoo-top-navigation-bar [currentActiveEmail]="currentLoggedInUsers"></app-fundoo-top-navigation-bar>

    <div class='main-content'>
        <app-fundoo-side-navigation-bar (messageEvent)="receiveMessage($event)"></app-fundoo-side-navigation-bar>

        <div class='content'>
            <!--<app-content></app-content>-->


            <app-fundoo-notes-content [contentStatus]="contentStatus"></app-fundoo-notes-content>
        </div>
    </div>
</div>