

  
  /* Navigation start*/
  nav {
    border-bottom: 1px solid black;
  }
  
  nav {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
  }
  
  nav .nav-left, nav .nav-right {
    display: flex;
    justify-content: space-around;
  }
  
  nav .nav-left {
    width: 280px;
    padding-left: 15px;
  }
  
  nav .nav-left .ham {
    width: 25px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
  }
  nav .nav-left .ProductName{
    font-family:Impact;
    font-weight: lighter;
    font-size: x-large;
  }
  nav .nav-right {
    width: calc(100% - 280px);
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }
  
  nav .ham div {
    height: 3px;
    background-color: black;
    width: 100%;
  }
  
  nav .ham div:nth-child(2) {
    margin: 5px 0;
  }
  
  nav .nav-right .search-container {
    flex-basis: 70%;
    display: flex;
    border: 1px solid black;
  }
  
  nav .nav-right .profile {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
  }
  
  nav .nav-right .profile img {
    border-radius: 5px;
  }
  
  nav .nav-right .search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: calc(100% - 60px);
  }
  
  nav .nav-right .search-container button {
    width: 45px;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    flex-grow: 1;
  }
  
  nav .nav-right .search-container button:hover {
    background: #ccc;
  }
  
  .main-content {
    display: flex;
    height: calc(100vh - 60px);
  }
  
  .content {
    width: calc(100% - 280px);
    padding: 20px;
  }
  .profile ul
  {
    list-style: none;
  }
  .profile ul li ul
  {
    display: none;
  }
  .profile ul li:hover ul
  {
    display: block;
    list-style: none;
  }
  
  
  
  .sidebar {
    background-color: white;
    border-right: 1px solid black;
    overflow: hidden;
    width: 0;
    transition: all .3s ease-in;
  }
  
  .sidebar i.fa {
    margin-right: 5px;
  }
  
  .sidebar.open {
    width: 280px;
  }
  
  .sidebar ul {
    height: 100%;
  }
  
  .sidebar ul li {
    padding: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  
   