<nav>
  <div class="nav-left">
    <div class="ham" id='ham'  (click)="HideMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="logo"><img src="../../../assets/keep_48dp.png"></div>
    <div class="ProductName">FundooKeep</div>
  </div>
  <div class="nav-right">
    <div class="search-container">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <div class="profile">
      <ul>
        <Li>{{currentActiveEmail}}<Ul>
            <Li>LogOut</Li>
          </Ul>
        </Li>
      </ul>
    </div>
  </div>



</nav>