<!--
{{noteFetchedAgain | json}}
-->
<h1>PIN NOTES</h1>
<div class='notes' *ngIf="pinNotes" >
   
    <ng-container *ngFor="let note of userFetchedNotes">
        <div class='note' *ngIf="note.ispin" [style.backgroundColor]="bgColor">
            <span class='head'>{{note.title}}</span>
            <p class='content'>{{note.description}}
            </p>
            <span class='pin' (click)="patchNoteUpdate(note,false,'PIN')">!</span>
            <span class='tick'>~</span>
            <ul class='tags' *ngIf="note.labels.length">
                <li *ngFor="let label of note.labels">{{label}}</li>
            </ul>
            <ul class='tags' *ngIf="note.collabrators.length">
                <li *ngFor="let collabarator of note.collabrators">{{collabarator}}</li>
            </ul>
            <ul class='controls'>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">add_alert</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">C</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">color_lens</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">archive</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon></li>
            </ul>
            <div class='menu-container'>
                <span class='menu-icon'>:</span>
                <ul class='menu'>
                    <li>Add</li>
                    <li>Delete</li>
                </ul>
            </div>
        </div>

    </ng-container>
    
</div>


<h1>UNPIN NOTES</h1>
<div class='notes' *ngIf="unPinNotes" >

    <ng-container *ngFor="let note of userFetchedNotes">
        <div class='note' *ngIf="!note.ispin">
            <span class='head'>{{note.title}}</span>
            <p class='content'>{{note.description}}
            </p>
            <span class='pin' (click)="patchNoteUpdate(note,true,'PIN')">!</span>
            <span class='tick'>~</span>
            <ul class='tags' *ngIf="note.labels.length">
                <li *ngFor="let label of note.labels">{{label}}</li>
            </ul>
            <ul class='tags' *ngIf="note.collabrators.length">
                <li *ngFor="let collabarator of note.collabrators">{{collabarator}}</li>
            </ul>
            <ul class='controls'>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">add_alert</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">C</mat-icon></li>
                <li ><mat-icon aria-hidden="false" aria-label="Example home icon" >color_lens</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">archive</mat-icon></li>
                <li><mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon></li>
            </ul>
            <div class='menu-container'>
                <span class='menu-icon'>:</span>
                <ul class='menu'>
                    <li>Add</li>
                    <li>Delete</li>
                </ul>
            </div>
        </div>

    </ng-container>
    
</div>








<div class='notes'>
    <div *ngIf="reminderNotes">
        REMINDER NOTES
    </div>
</div>


<div class='notes'>
    <div *ngIf="labelNotes">
        LABEL NOTES
    </div>
</div>


<div *ngIf="archiveNotes">
    ARCHIVE NOTES
</div>


<div *ngIf="trashNotes">
    TRASH NOTES
</div>