.main {
    height: 100vh;
    width: 100%;
    background-color: white; 
  }

  .bottomRow {
    display: flex;
    height: calc(100vh - 60px);
  }
 
  .bottomRowRight {
    width: calc(100% - 280px);
    padding: 20px;
  }
  .bottomRowLeft{
    scroll-behavior: hidden;
  }