<div class='main'>
    <nav>
      <div class="nav-left">
        <div class="ham" id='ham' (click)="HideMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="nav-right">
       

        <div class="dropdown">
            <span>V</span>
            <div class="dropdown-content">
            <p>LogOUT</p>
            </div>
          </div>



      </div>
    </nav>
    <div class='main-content'>
      <div class='sidebar open' id='sidebar'>
        <ul>
          <li>1. </li>
          <li>2. </li>
          <li>3. </li>
        </ul>
    </div>
      <div class="content">
        content
      </div>
    </div>
  </div>





