
    <div class='main'>
      <nav>
        <div class="nav-left">
          <div class="ham" id='ham' (click)="HideMenu()">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="nav-right">
          <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
          <div class="profile">
            <ul>
              <Li>{{message}}<Ul><Li>LogOut</Li></Ul></Li>
              </ul>
          </div>
        </div>
      </nav>
      <div class='main-content'>
        <div class='sidebar open' id='sidebar'>
          <ul>
            <li><i class="fa fa-plus" aria-hidden="true"></i> Add notes</li>
            <li><i class="fa fa-plus" aria-hidden="true"></i> Remove Notes</li>
            <li class="getnotes" (click)="GetNotes()"><i class="fa fa-plus" aria-hidden="true"></i> View all</li>
          </ul>
        </div>
        <div class="content">
          content
        </div>
      </div>
    </div>