<div class="header">
        <h2>FUNDOO SIGNUP</h2>

</div> 
 

<form>
<div class="error">
<p>e-mail id empty</p>
<p>password empty</p>
<p>username empty</p>
<p>password do not match</p>
<p>cardtype required</p>
</div>
<div class="input-group">
<label>USER-NAME</label>
<input type="text" name="username" value="" id="username"/>
</div>

<div class="input-group">
<label>E-MAIL</label>
<input type="text" name="email" value="" id="useremail"/>
</div>

<div class="input-group">
<label>PASSWORD</label>
<input type="password" name="password_1" id="password"/>
</div>

<div class="input-group">
<label>CONFIRM PASSWORD</label>
<input type="password" name="password_2" />
</div>

<div class="input-group">
<label>ADDRESS</label>
<input type="text" name="address" value=""/>
</div>

<div class="input-group">
<label>CardType:</label>
<select name="Service type" id="cardtype">
<option value="Basic" >Basic</option>
<option value="Advanced">Advanced</option>

</select>
</div>
             
<div class="input-group">
<button type="submit" name="register" class="btn" (click)="Add()">SIGNUP</button>
</div>

<div class="input-group" >
<button type="submit" name="register" class="btn">SIGNUP WITH GOOGLE</button>
</div>
                       
</form>


                 
                