<div class="header">
        <h2>FUNDOO SIGNUP</h2>

</div> 
 

<form>


                <div class="error-group">
                                All errors here
                        </div>
        
<div class="input-group">
<label>USER-NAME</label>
<input type="text" name="username" value=""/>
</div>

<div class="input-group">
<label>E-MAIL</label>
<input type="text" name="email" value="" />
</div>

<div class="input-group">
<label>PASSWORD</label>
<input type="password" name="password_1" />
</div>

<div class="input-group">
<label>CONFIRM PASSWORD</label>
<input type="password" name="password_2" />
</div>

<div class="input-group">
<label>ADDRESS</label>
<input type="text" name="address" value=""/>
</div>

<div class="input-group">
<label>CardType:</label>
<select name="Service type">
<option value="Basic">Basic</option>
<option value="non veg">Advance</option>

</select>
</div>
             
<div class="input-group">
<button type="submit" name="register" class="btn" (click)="Display">SIGNUP</button>
</div>

<div class="input-group" >
<button type="submit" name="register" class="btn">SIGNUP WITH GOOGLE</button>
</div>
                
                
</form>


                 
                